@charset "utf-8";

html{
    background-color: rgba(174, 173, 175, 0.30);
    color: #1c1c1c;
    font-size:16px;
    font-family:"Courier New", Courier, monospace;
}

.main{

}

.container{
    width: 280px;
    background-color: rgba(0, 147, 215, 0.30);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #1c1c1c;
}

.container input{
    margin: 2px;
    float: right;
}

.container label{
    margin: 2px;
    float: left;
    width: 80px;
}


